.input{
    text-align: center;    
    background-color: #3ab7ff1c;
    border-radius: 10px;
    text-transform: capitalize;
}

.logo{
    height: 50px;    
    width: 70px;
    margin-left: 20px;
}

.qrCode{
    max-width: 500px;
    display: block;
    margin: auto;
}